.mainInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-bottom: 20px;
}

.mainInfo:first-child{
    margin-bottom:20px ;
}

.profileAvatar{
    display: block;
    max-width: 100px;
    margin-bottom: 10px;
    background-color: rgb(46, 44, 44);
    border-radius: 50%;
}

.name{
    font-size: 18px;
    font-weight: 700;
}

.userTag{
    color: #696868;
}

.location{
    color: #696868;
}